---

import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black rounded-2xl py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <div class="transition text-50 text-sm text-center">
        &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}. All Rights Reserved. /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a><br>
        Powered by
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>&nbsp
        Worker by
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://www.cloudflare.com/">Cloudflare</a>

        <span style="display: inline-block; white-space: nowrap;"><a href="https://www.12377.cn/" target="_blank" style="display: inline-flex; align-items: center; text-decoration: none;"><img src="https://blog.akatsukimio.top/img/3-2025/202508182317891.webp" alt="网上有害信息举报专区图标" width="20" height="20" style="margin-right: 5px;">网上有害信息举报专区</a></span>
        <span style="display: inline-block; white-space: nowrap;"><a href="mailto:amdin@akatsukimio.top" target="_blank" style="display: inline-flex; align-items: center; text-decoration: none;"><img src="https://blog.akatsukimio.top/img/3-2025/202508211514933.webp" alt="投诉举报邮箱:admin@akatsukimio.top" width="20" height="20" style="margin-right: 5px;">投诉举报邮箱:admin@akatsukimio.top</a></span>
    </div>
</div>